.container {
    margin: 50px 0;
}
.card {
    margin: 0 2% !important;
}

.infected {
    border-bottom: rgb(10, 10, 255, 0.5);
}

.recovered {
    border-bottom: rgb(0, 255, 0, 0.5);
}

.deaths {
    border-bottom: rgb(255, 0, 0, 0.5);
}